<footer>
    <div class="footer-content">
        <div class="footer1">
            <i class="fas fa-map-marker-alt"></i>
            <h1> Rua Tobias da Silva, 120 / 309</h1>
            <i class="fas fa-phone-alt"></i>
            <h2> +55 51 98446-7098</h2>
        </div>
        <div class="footer2">
            <h1>Venha conhecer o meu trabalho. Marque sua consulta.</h1>
            <a href="https://api.whatsapp.com/send?phone=5551984467098"><button>Entrar em contato</button></a>
        </div>
    </div>
</footer>
</body>
<script src="js/script.js"></script>
</html>