<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Dr. Luciano Ramires</title>
    <base href="http://localhost/camsViewer/">

    <link href="img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/jquery.js"></script>
</head>

<body>
    <header id="header">
        <div id="logo">
            <img src="img/nome.png" alt="">
        </div>
        <nav id="nav">
            <button id="btn-mobile" type="submit"><i class="fas fa-align-justify"></i></button>
            <ul id="menu">
                <li><a href="">Home</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="contato">Contato</a></li>
                <li><a href="https://www.instagram.com/lucianoramires"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/luciano.c.ramires"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/user/luram42"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </nav>
    </header>