<main>
    <div class="header-3">
        <div class="white-shadow">
            <div class="banner">
                <h1>Especialidades</h1>
                <p>Traumatologia do Esporte <br />Cirurgia Ortopédica <br />Videoartroscopia <br />Acupuntura
                    Neurofuncional Contemporânea</p>
            </div>
        </div>
    </div>

</main>
<section class="informacoes-gerais">
    <div class="foto-luciano">
        <img src="./img/dejaleco.jpg" alt="">
        <div class="descricao-foto">
            <h1>Dr. Luciano Ramires</h1>
        </div>
    </div>
    <div class="infos">
        <h1>Dr. Luciano Ramires</h1>
        <p>Formado em...</p>
        <a href="sobre.html"><button>Saiba mais sobre a minha trajetória</button></a>
    </div>
</section>
<section class="tituloyt">
    <div class="titulo.youtube">
        <h1>Conheça meu canal no YouTube</h1>
    </div>
</section>
<section class="videos">
    <div class="video1">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/dhN_JcDXAMQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="video2">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/cga9yV_Dilg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>
</div>