<main>
    <div class="faixa"></div>
    <div class="descricao-timeline">
        <h1>Conheça um pouco sobre a vida do Dr. Luciano Ramires e sua dedicação à medicina:</h1>
    </div>
    <div class="container2">
        <div class="timeline">
            <ul>
                <li>
                    <div class="timeline-content">
                        <h1>Heading1</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading2</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading3</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading4</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading5</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading6</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading7</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading8</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading9</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading10</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading11</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading12</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading13</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h1>Heading14</h1>
                        <p>aqui vai o texto</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>